<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>MSM Home</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>This is the HOME PAGE</h1>

<div>
    <table class="zui-table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        <tr th:each="details: ${allMedia}">
            <td th:text="${details.name}"></td>
            <td th:text="${details.type}"></td>
            <td th:text="${details.uploadedDate}"></td>
            <td>
            </td>
        </tr>

    </table>
</div>
</body>
</html>